<html>
<head>
    <title>Add Book</title>
</head>

<body>
    <h1>Add Book</h1>
    <form (ngSubmit)="addBook()" #bookForm="ngForm"  novalidate>
        Book Title <br>
        <input name="Title" [(ngModel)]="book.Title" #title="ngModel" required>
        <p></p>
        Book Price <br>
        <input type="number" name="Price" [(ngModel)]="book.Price" #price="ngModel" required>
        <p></p>
        <button [disabled]="bookForm.invalid">Add Book </button>
    </form>


    <h3 *ngIf="added && done">Book has been added successfully!</h3>
    <h3 *ngIf="!added && done">Book was not added due to some error!!</h3>
</body>
</html>