
<h1>Country Search</h1>
Name : <input type="text" #countryname/>
<button (click)="getCountries(countryname.value)">Search</button>

<p></p>

<div style="color:red"  *ngIf="message" >{{message}}</div>

<table border="1" style="width:100%"  *ngIf="countries.length > 0">
    <tr>
        <th>Name </th>
        <th>Capital </th>
        <th>Population </th>
        <th>Region </th>
        <th>Flag</th>
    </tr>
    <tr *ngFor="let c of countries">
        <td> {{ c.name }} </td>
        <td> {{ c.capital }} </td>
        <td> {{ c.population }} </td>
        <td> {{ c.region }} </td>
        <td style="text-align: center">
            <img [src]="c.flag" style="width:200px;height:50px"/>
        </td>
    </tr>
</table>