<h1>Pipes Demo</h1>
<h2> 
    {{ today | date : 'longDate'}}
    <p></p>
    {{ today | date : 'dd-MM-y'}}
    <p></p>
    {{ amount | currency : 'INR': true :'10.2-2' }}
    <p></p>
    {{ amount | currency }}
    <p></p>
    {{ amount | number : '8.2-2' }}
    <p></p>
    {{ 0.1234 | percent }}
    <p></p>
    {{ name | uppercase }}
    <p></p>
    {{ name | slice : 1:5 | uppercase }}
    <p></p>
    {{ name | slice : -4 : -2  | titlecase }}
    <p></p>
    {{ person | json }}
    <p></p>
    {{ person }}
    <p></p>
    {{ 'Srikanth' | brackets }}
    <p></p>
    {{ 'Srikanth' | brackets : 'u' : 5 }}

</h2>




